.interview-data-container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.interview-data-container h2 {
  color: #333;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabs button.active {
  color: white;
}

.interview-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.interview-table th,
.interview-table td {
  /* padding: px 10px; */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.interview-table th {
  background-color: #f8f8f8;
  font-weight: bold;
  color: #333;
}

.interview-table tr:hover {
  background-color: #f5f5f5;
}

.Interviewloading,
.Interviewerror {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.Interviewerror {
  color: red;
}

@media screen and (max-width: 600px) {
  .interview-table {
    font-size: 12px;
  }

  .interview-table th,
  .interview-table td {
    padding: 8px 10px;
  }
  
  .tabs button {
    padding: 8px 12px;
    font-size: 12px;
  }
}