/* General Reset and Box Sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* General Styles */
.main-body {
    background-color: var(--Bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.main-login-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-loginpage-clouds {
    position: absolute;
    top: -280px;
    left: 0;
    width: 200%;
    height: 150%;
    background: url('/src/LogoImages/clouds.png') repeat-x;
    background-size: cover;
    background-position: center;
    animation: moveClouds 30s linear infinite;
    z-index: 1;
}

@keyframes moveClouds {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* for adjust with screen size fixed height */
.container22 {
    display: flex;
    width: 65%;
    height: 50%;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

.left-panel {
    width: 50%;
    height: 100%;
    /* padding: 20px; */
    display: flex;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: relative; */
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

.left-panel .logo {
    width: 250px;
    height: 250px;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
}

/* for adjust forgot password form */
.full-width {
    flex-direction: column;
}

.full-width-panel {
    width: 100%;
    padding: 5px 0px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-panel {
    width: 50%;
    height: 100%;
    background-color: #f2f2f2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

.right-panel h2 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--Bg-color);
    margin-bottom: 20px;
    opacity: 0;
    animation: slideIn 1s forwards 0.5s;
}

.input-groups {
    position: relative;
    margin-bottom: 10px;
    /* padding-left: -10px; */
    opacity: 0;
    animation: slideIn 1s forwards 0.8s;
}

.input-groups input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 15px;
    padding-left: 35px;
    align-items: center;
    text-indent: 10px;
    height: 30px;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: auto;
    bottom: auto;
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
}

.input-groups i {
    position: absolute;
    top: 8px;
    left: 20px;
    color: gray;
}

.login-button,
.dashboard-button {
    width: 100%;
    font-size: 18px;
    height: 30px;
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    animation: slideIn 1s forwards 1.1s;
}

.login-button:hover,
.dashboard-button:hover {
    background-color: white;
    color: var(--Bg-color);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Hover styles for buttons */
.button-hover {
    background-color: var(--Bg-color);
    color: white;
    border-radius: 30px;
    border: 1px solid #f2f2f2;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button-hover:hover {
    background-color: white;
    color: var(--Bg-color);
}


.psw {
    margin-top: 2px;
    font-size: 12px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 5;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 666px) {
    .container22 {
        flex-direction: column;
    }

    .left-panel,
    .right-panel {
        width: 100%;
        padding: 20px;
    }

    .left-panel {
        border-bottom: 1px solid #ccc;
    }
}

@media (max-width: 370px) {
    .container22 {
        width: 100%;
    }
}