.AddRec-form-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.update-page-head {
  color: gray;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}

.AddRec-form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.addRec-form-row {
  width: 48%;
  margin-bottom: 15px;
}

.addRec-form-row label {
  display: block;
  margin-bottom: 5px;
  /* font-weight: bold; */
  color: gray;
}

.addRec-form-row input,
.addRec-form-row select {
  width: 100%;
  color: gray;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  transition: box-shadow 0.3s, border-color 0.3s;
}

.addRec-form-row input:focus,
.addRec-form-row select:focus {
  outline: none;
  box-shadow: 0 0 5px #ffe5b5;
  border-color: #ffe5b5;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.ctf-btn {
  background-color: #ffcb9b;
  color: white;
  border-radius: 12px;
  border: 1px solid gray;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: 0.5s;
}

.ctf-btn:hover {
  background-color: white;
  color: #ffcb9b;
  border-color: gray;
  transform: translateY(-5px);
}

.performance-indicator {
  display: flex;
  gap: 10px;
}

.indicator-btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator-btn.red,
.indicator-btn.orange,
.indicator-btn.green,
.indicator-btn.golden {
  background-color: #ffb281;
  color: white;
}

.indicator-btn:hover {
  opacity: 0.8;
}

#resumeUpload,
#documentUpload,
#photoUpload {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 768px) {
  .addRec-form-row {
    width: 100%;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


.password-input-container {
  display: flex;
  width: 268px;
}

.employee-inputs {
  font-size: 16px;
}

.show-pass-btn {
  height: 30px;
  width: auto;
  background-color: #ffcb9b;
  border-radius: 15px;
  padding: 0 5px;
  margin-top: 5px;
  margin-left: 8px;
  border: 1px solid gray;
}

.add-employee-submit-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.submit-button-add-emp {
  font-size: 16px;
  border-radius: 15px;
  width: 120px;
  background-color: #ffb281;
  color: white;
  border: 1px solid gray;
  transition: background-color 0.3s, color 0.3s;
}

.submit-button-add-emp:hover {
  background-color: white;
  color: #ffb281;
}

.error {
  color: red;
}

.wrapper-eye {
  position:relative;
  display: flex;
    justify-content: right;
    /* border: 1px solid red; */

}

.input {
  /* height: 50px; */
  box-sizing:border-box;
  padding-left: 1.5rem;
  /* align-content: center; */
  
}

.password-eye-icon{
  
    height: 1.5rem;
    width: 1.5rem;
    
    /* background-color: red; */
    padding: 4px;
  padding-top: 25px;
  padding-right: 20px;
  /* display: flex;
  align-content: center; */
    position: absolute;
    box-sizing:border-box;
    /* top:50%; */
    /* left:200px; */
    transform: translateY(-50%);
  }

  .password-eye-icon i{
    color:gray;
  }

  .file-placeholder{
    font-size: 12px;
  }

  #user-name-div { 
    display: flex;
    gap: 20px; 
}

.user-name-div-label-input {
    display: flex;
    flex-direction: column; 
    width: 350px;
    color: gray;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    transition: box-shadow 0.3s, border-color 0.3s;
    
}

.user-name-div-labels {
    margin-bottom: 5px;
}

.user-name-div-inputs {
    width: 200px; 
    height: 30px;
    padding: 5px; 
    box-sizing: border-box;    
}


.otp-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.otp-modal-content h2 {
  margin-bottom: 20px;
}

.otp-modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.otp-modal-content button {
  padding: 10px 20px;
  margin: 5px;
}

.otp-error {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

