.App-after {
  width: 100%;
  background-attachment: fixed;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
  /* position: relative; */
}

.attendance-table thead th {
  position: sticky;
  top: 0;
  background-color: #ffcb9b; 
  color: gray;
  z-index: 1;
}

.attendanceheading, .tabledata {
  border: 1px solid gray;
  padding: 5px;
  white-space: nowrap;
  max-width: 200px; 
  text-overflow: ellipsis;
  overflow: hidden; /* Ensure cell text is clipped if too long */
}

.tabledata:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 2; /* Ensure tooltip appears above other elements */
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap; /* Prevent tooltip text from wrapping */
  max-width: none; /* Ensure tooltip width adjusts to content */
}

.tooltiptext {
  display: inline-block;
}

.attendancerows-head {
  background-color: #ffcb9b;
  color: gray;
  font-weight: 100;
  text-align: center;
  font-size: 18px;
  border: 1px solid gray;
  padding: 10px 15px;
  text-overflow: clip;
  width: 100px;
}

.attendancerowsdata, .tabledata {
  text-align: center;
  font-size: 16px;
  border: 1px solid gray;
  padding: 5px;
  overflow: hidden;
  max-width: 200px;
  text-overflow: clip;
}

.attendanceTableData::-webkit-scrollbar {
  display: none;
}

.attendanceTableData {
  height: 90vh;
  overflow-y: auto;
}

.tabledata {
  /* position: relative; */
 }

.tabledata .tooltip {
  /* bottom: 100%;  */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px; /* Adjust as needed to provide space between cell and tooltip */
}
