body {
    margin: 0;
    padding: 0;
  }
  
  .calling-list-container {
    overflow-x: scroll;
    overflow-y: scroll;
  }
  
.selfCallingUpdateBtn{
  height: 30px;
  background-color: #ffcb9b;
  border-radius: 13px;
  border: 1px solid #f2f2f2;
  color:grey;
  padding: 7px 6px;
  margin: 2px 20px;
}


  .calling-table {
    width: 2700px;
    border-collapse: collapse;
  }
  .table-container_forselfcalling tr td{
  padding: 1px;}


  .table-container_forselfcalling th,
  .table-container_forselfcalling td {
    border: 1px solid gray;
    text-align: center;
    color: gray;
    white-space: unset;
  }
  
  .table-container_forselfcalling th {
    background-color: #ffcb9b;
    position: static;
    color: gray; 
    padding: 4px;
  }
  
  /* .calling-table tr:nth-child(even) {
    background-color: #ffcb9b;
  } */
  
  /* .table-container_forselfcalling tr:hover {
    background-color: #f2f2f2;
  } */
  
  /* .table-container_forselfcalling {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    color: gray;
    font-size: 18px;
  } */
  
 
  .table-container_forselfcalling select {
    width: 100%;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
  }
  
 
  .table-container_forselfcalling option {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
  }
  
 
  .table-container_forselfcalling td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 200px;  */
    background-color: white;
   
  }
  /* .table-container_forselfcalling td{

  } */
  

 
  
  
  body::-webkit-scrollbar {
    width: 0;
  }
  
  body {
    scrollbar-width: none;
  }
  

  /* .calling-table td:hover, */
  /* .calling-table th:hover {
    background-color: #ffe5b5 ; 
    color: gray;
  } */