/* Swapnil_CallingTrackerForm_responsive_05/07 */
/* og */
.calling-tracker-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: gray;
  margin-top: 10px;
}
.update-main-div {
  padding-top: 10px;
}
.calling-tracker-main::-webkit-scrollbar {
  display: none;
}
.calling-tracker-submain {
  width: 100%;
  height: 100%;
}
.calling-tracker-form {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2;
}

.calling-tracker-row-gray {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.calling-tracker-row-white {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calling-tracker-field {
  width: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calling-tracker-field-inner-div {
  width: 70%;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calling-tracker-field-inner-sub-div {
  width: 48%;
  display: flex;
  /* padding: 2px; */
  align-items: center;
}

.plain-input {
  width: 90%;
  color: gray;
  font-size: 16px;
  padding: 1px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  padding-left: 10px;
}

.calling-check-box-main-container {
  width: 70%;
  /* border: 1px solid gray; */
  padding: 5px 3px;
  display: flex;
  justify-content: space-around;
}

.calling-check-box-container {
  width: 48%;
  display: flex;
  justify-content: space-around;
}

.inner-sub-div-input {
  width: 90%;
  border-radius: 5px;
  color: gray;
  padding: 5px 0px;
  /* border: 1px solid gray; */
}

.calling-tracker-field label {
  width: 29%;
  height: 100%;
  font-weight: 500;
  border-right: 1px solid gray;
  text-align: center;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calling-tracker-field-sub-div {
  width: 69%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 10px;
  gap: 6px;
}

.calling-tracker-two-input {
  width: 40%;
  padding: 1px;
  color: rgba(128, 128, 128, 0.782);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.calling-tracker-input-message {
  width: 80%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.calling-tracker-two-input-container {
  width: 69%;
  padding: 5px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.studTables th,
.studTables td {
  border: 1px solid gray;
  color: gray;
  text-align: left;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.studTables th {
  background-color: white;
  font-size: 1em;
  color: gray;
}

.studTables td {
  text-align: center;
  font-size: 1em;
  color: gray;
}

.studTables input[type="text"],
.studTables input[type="email"],
.studTables select {
  height: auto;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  color: gray;
  font-size: 1em;
}

.studTables .onlyselect select {
  height: auto;
  width: 100%;
  border-radius: 4px;
  color: gray;
  font-size: 1em;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  color: gray;
}

.form-group input[type="text"],
.form-group select {
  width: 100%;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: gray;
}

.PhoneInputInput {
  width: 100%;
  height: auto;
  border: none !important;
  color: gray !important;
  font-size: 1em;
}

.buttons {
  text-align: center;
  color: gray;
  display: flex;
}

.main-gender {
  width: 60%;
  font-size: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: gray;
}

.gender-checkboxes {
  display: flex;
  justify-content: start;
  align-items: center;
  color: gray;
}

.gender-checkboxes input[type="checkbox"] {
  margin-right: 0px;
  color: gray;
}

#resumeUpload {
  height: auto;
  width: 200px;
  color: gray;
  font-size: 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px;
  margin: 20px;
  text-align: center;
  justify-content: space-around;
  color: gray;
}

.ctf-btn {
  background-color: #ffcb9b;
  color: white;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 16px;
  text-align: center;
  width: auto;
  height: 30px;
  backdrop-filter: blur(2px);
  transition: 0.5s;
  line-height: 0.7;
}

.ctf-btn:hover {
  background-color: white;
  color: #ffcb9b;
  border: 1px solid gray;
}

.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.upload-success-icon {
  color: green;
  margin-left: 10px;
  margin-top: 3px;
}

.upload-success-icons {
  color: green;
}

#currentDate {
  width: 75%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: gray;
}

.custom-datepicker-container {
  position: relative;
  display: inline-block;
}

.studTables th {
  background-color: white;
  color: gray;
  padding: 5px;
  text-align: center;
  font-size: 1em;
}

.studTables td {
  padding: 1px;
  text-align: center;
  font-size: 1em;
  border: 1px solid gray;
  color: gray;
}

b,
strong {
  color: gray;
}

@media screen and (max-width: 300px) {
  .studTables tbody tr {
    width: 100%;

    /* og */
    .maintable1 {
      height: auto;
      width: auto;
      border-collapse: collapse;
      overflow-x: auto;
      margin: 0 auto;
      max-width: 100%;
      padding: 10px;
      color: gray;
    }

    .maintable::-webkit-scrollbar {
      display: none;
    }

    .table-striped th {
      color: gray;
    }

    .update-page-head {
      width: 100%;
      color: gray;
      text-transform: uppercase;
      align-self: center;
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }

    .studTables {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      border-collapse: collapse;
      table-layout: auto;
      white-space: nowrap;
      color: gray;
    }

    .studTables th,
    .studTables td {
      border: 1px solid gray;
      color: gray;
      text-align: left;
      padding: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      vertical-align: middle;
    }

    .studTables th {
      background-color: white;
      font-size: 1em;
      color: gray;
    }

    .studTables td {
      text-align: center;
      font-size: 1em;
      color: gray;
    }

    .studTables input[type="text"],
    .studTables input[type="email"],
    .studTables select {
      height: auto;
      width: 100%;
      border-radius: 4px;
      box-sizing: border-box;
      color: gray;
      font-size: 1em;
    }

    .studTables .onlyselect select {
      height: auto;
      width: 100%;
      border-radius: 4px;
      color: gray;
      font-size: 1em;
    }

    .header {
      text-align: center;
      margin-bottom: 20px;
      color: gray;
    }

    .form-group input[type="text"],
    .form-group select {
      width: 100%;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: gray;
    }

    .PhoneInputInput {
      width: 100%;
      height: auto;
      border: none !important;
      color: gray !important;
      font-size: 1em;
    }

    .buttons {
      text-align: center;
      color: gray;
      display: flex;
    }

    .main-gender {
      font-size: 1em;
      color: gray;
      padding: 10px;
    }

    .gender-checkboxes {
      display: flex;
      align-items: center;
      gap: 10px;
      color: gray;
      padding: 10px;
    }

    .gender-checkboxes input[type="checkbox"] {
      margin-right: 0px;
      color: gray;
      padding: 10px;
    }

    #resumeUpload {
      height: auto;
      width: 200px;
      color: gray;
      font-size: 1em;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 8px;
      margin: 20px;
      text-align: center;
      justify-content: space-around;
      color: gray;
    }

    .ctf-btn {
      background-color: #ffcb9b;
      color: white;
      border-radius: 15px;
      border: 1px solid gray;
      font-size: 16px;
      text-align: center;
      width: auto;
      height: 30px;
      backdrop-filter: blur(2px);
      transition: 0.5s;
      line-height: 0.7;
    }

    .ctf-btn:hover {
      background-color: white;
      color: #ffcb9b;
      border: 1px solid gray;
    }

    .buttonDiv {
      display: flex;
      align-items: center;
      justify-content: center;
      color: gray;
    }

    .upload-success-icon {
      color: green;
      margin-left: 10px;
      margin-top: 3px;
    }

    .upload-success-icons {
      color: green;
    }

    #currentDate {
      width: 75%;
      padding: 10px;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: gray;
    }

    .custom-datepicker-container {
      position: relative;
      display: inline-block;
    }

    .studTables th {
      background-color: white;
      color: gray;
      padding: 10px;
      text-align: center;
      font-size: 1em;
    }

    .studTables td {
      padding: 10px;
      text-align: center;
      font-size: 1em;
      border: 1px solid gray;
      color: gray;
    }

    b,
    strong {
      color: gray;
    }
  }
}

.calling-tracker-popup-open-btn {
  border: none;
  padding: 2px 5px;
  width: fit-content;
  border-radius: 15px;
  background-color: var(--button-color);
  border: 1px solid #ccc;
  color: white;
}

.calling-tracker-popup-open-btn:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
  border: 1px solid #ccc;
}

.calling-tracker-popup {
  display: flex;
  color: gray;
}

.calling-tracker-popup-sidebar {
  width: 20%;
  background-color: #f8f9fa;
  padding: 15px;
  border-right: 1px solid #dee2e6;
}

.sidebar-item {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  color: #495057;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.modal-content {
  overflow: hidden;
}

.sidebar-item.active,
.sidebar-item:hover {
  background-color: var(--button-color);
  color: #fff;
}

.calling-tracker-popup-dashboard {
  width: 80%;
  padding: 20px;
}

.distance-calculation,
.salary-calculation {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 30px;
  color: gray;
  border: 1px solid #ced4da;
  border-radius: 15px;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem #ffcb9bd0;
}

.callingTracker-popup-close-btn {
  padding: 2px 10px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background-color: var(--button-color);
  border: 1px solid #ccc;
  color: white;
}

.callingTracker-popup-close-btn:hover {
  color: var(--button-color);
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
}

.callingTracker-calculations {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.sal-cal-th {
  color: white !important;
  background-color: var(--Bg-color) !important;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Shadow effect like Bootstrap modal */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1050; /* Make sure it appears above everything */
}

.loader-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.spinner {
  border: 10px solid transparent; /* Make border transparent */
  border-radius: 50%;
  border-color: var(--Bg-color);
  border-top: 10px solid rgb(0, 0, 0);
  /* border-right: 12px solid rgb(88, 88, 180);
  border-bottom: 12px solid rgb(73, 160, 73);
  border-left: 12px solid rgb(222, 222, 95); */
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite; /* Faster spin for better visual */
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 1.5rem;
  color: #fff;
}
