.data-table-div{
    /* border: 2px solid black; */
    /* height: 88px; */
    width: 400px;
    margin-top: 20px;
    /* background-color: white; */
}
.table-data-row
{
    align-items: center;
    color: gray;
    /* background-color: white; */
}
/* .data-table{
    color: white;
    background-color: white;
} */
/* .table-dark d-flex{
    
} */

.data-table th{
    background-color: #ffcb9b;
    color: gray;
    font-size: 18px;

}

.data-table tr td{
    background-color: #f2f2f2;
    color: gray;
    font-size: 18px;

}