.react-datepicker-wrapper {
  display: none;
}

.custom-calendar .react-datepicker__month-container {
  max-width: none;
  width: 350px;
}

.custom-calendar .react-datepicker {
  width: 100%;
}

.custom-calendar .react-datepicker__header {
  padding: 10px 0;
}

.custom-calendar .react-datepicker__day {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  position: relative;
}

.custom-calendar .react-datepicker__current-month {
  font-size: 18px;
}

.custom-calendar .react-datepicker__day--selected {
  background-color: #fa668d;
}

.custom-calendar .react-datepicker__day--keyboard-selected {
  background-color: rgba(32, 17, 252, 0.5);
  color: #ffffff;
}

.highlighted-date {
  position: relative;
  width: 180%;
  height: 100%;
  right: 18px;
  background-color: black;
  top: 20%;
}

.react-calendar .react-calendar__tile--highlighted {
  background-color: rgba(0, 128, 0, 0.1);
  border-radius: 50%;
}

.react-calendar .react-calendar__tile--note {
  background-color: rgba(255, 0, 0, 0.2);
}
.abbr {
  position: absolute !important;
  z-index: 999 !important;
}

.calendar {
  display: flex;
  flex-direction: row;
}

#finalColumn {
  width: 200px;
  background-color: #fa668d;
}

.calender-saveresponse {
  background-color: #ffe5ec;
  border: 2px solid white;
  border-radius: 15px;
  height: 40px;
}

button.react-calendar__tile.react-calendar__month-view__days__day {
  color: gray;
  box-shadow: 1px 1px 2px 1px gray;
  border-radius: 16px;
}
