.calling-list-container {
  position: relative;
}




.select-button {
  position: absolute;
  top: 2px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ffcb9b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
}

.select-button:hover {
  background-color: white;
  color: #ffcb9b;
}

.button-group {
  position: absolute;
  top: 40px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.select-all-button,
.share-button {
  padding: 5px ;
  background-color: #ffcb9b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 15px;
}

.select-all-button:hover,
.share-button:hover {
  background-color: white;
  color: #ffcb9b;
}
.lineUp-Filter-btn{
  border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    color: #ffcb9b;
    height: 30px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}










