.update-main-div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 5px;
  color: gray;
  margin-top: 5px;
}
.update-main-div::-webkit-scrollbar{
  display: none;
} 


.update-page-head {
  width: 100%;
  color: gray;
  /* Set font color to gray */
  text-transform: uppercase;
  align-self: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

/* .calling-tracker-submain {
  width: 100%;
  height: 100%;
} */

.update-calling-tracker-form {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2;
}

.update-calling-tracker-row-gray {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.update-calling-tracker-row-white {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.update-calling-tracker-field {
  width: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-calling-tracker-field-inner-div {
  width: 70%;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-calling-tracker-field-inner-sub-div {
  width: 48%;
  display: flex;
  /* padding: 2px; */
  align-items: center;
}

.plain-input {
  width: 90%;
  color: gray;
  font-size: 16px;
  padding: 1px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}

.update-calling-check-box-main-container {
  width: 70%;
  /* border: 1px solid gray; */
  padding: 5px 3px;
  display: flex;
  justify-content: space-around;
}

.calling-check-box-container {
  width: 48%;
  display: flex;
  justify-content: space-around;
}

.inner-sub-div-input {
  width: 90%;
  border-radius: 5px;
  color: gray;
  padding: 5px 0px;
  /* border: 1px solid gray; */
}

.update-calling-tracker-field label {
  width: 29%;
  height: 100%;
  font-weight: 500;
  border-right: 1px solid gray;
  text-align: center;
  font-size: 1.0vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-calling-tracker-field-sub-div {
  width: 69%;
  display: flex;
  justify-content: start;
  align-items: start;
  /* flex-direction: column; */
  padding: 10px;
  gap: 6px;
}

.update-calling-tracker-two-input {
  width: 40%;
  padding: 1px;
  color: rgba(128, 128, 128, 0.782);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.calling-tracker-input-message {
  width: 80%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
}

.update-calling-tracker-two-input-container {
  width: 69%;
  padding: 5px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  text-align: center;
  color: gray;
  display: flex;
}

.main-gender {
  width: 60%;
  font-size: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: gray;
}

.gender-checkboxes {
  display: flex;
  justify-content: start;
  align-items: center;
  color: gray;
}

.gender-checkboxes input[type="checkbox"] {
  margin-right: 0px;
  color: gray;
}


.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px;
  margin: 20px;
  text-align: center;
  justify-content: space-around;
  color: gray;
}

.ctf-btn {
  background-color: #ffcb9b;
  color: white;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 16px;
  text-align: center;
  width: auto;
  height: 30px;
  backdrop-filter: blur(2px);
  transition: 0.5s;
  line-height: 0.7;
}

.ctf-btn:hover {
  background-color: white;
  color: #ffcb9b;
  border: 1px solid gray;
}

.updata-page-submit-div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  border: 1px solid red;
}

.updata-page-cancel-div{
  
}
#currentDate {
  width: 75%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: gray;
}

.custom-datepicker-container {
  position: relative;
  display: inline-block;
}

b,
strong {
  color: gray;
  /* Set font color to gray */
}
/* .update-calling-tracker-field-sub-div input [type="placeholder"]
{
  margin-left: 100px;
  padding-left: 100px;
} */

::placeholder{
  padding-left: 10px;
}
.update-callingTracker-male-div{
  display: flex;
  justify-content: center;
  gap: 10px;
}