.update-page-head {
  width: 100%;
  color: gray;
  /* Set font color to gray */
  text-transform: uppercase;
  align-self: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.calling-tracker-submain {
  width: 100%;
  height: 100%;
}

.calling-tracker-form {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2;
}

.calling-tracker-row-gray {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.calling-tracker-row-white {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calling-tracker-field {
  width: 50%;
  /* height: 100%; */
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calling-tracker-field-inner-div {
  width: 70%;
  border: 1px solid gray;
  /* padding: 5px 0px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calling-tracker-field-inner-sub-div {
  width: 48%;
  display: flex;
  /* padding: 2px; */
  align-items: center;
}

.plain-input {
  width: 90%;
  color: gray;
  font-size: 16px;
  padding: 1px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}

.calling-check-box-main-container {
  width: 70%;
  /* border: 1px solid gray; */
  padding: 5px 3px;
  display: flex;
  justify-content: space-around;
}

.calling-check-box-container {
  width: 48%;
  display: flex;
  justify-content: space-around;
}

.inner-sub-div-input {
  width: 90%;
  border-radius: 5px;
  color: gray;
  padding: 5px 0px;
  /* border: 1px solid gray; */
}

.calling-tracker-field label {
  width: 29%;
  font-weight: 500;
  border-right: 1px solid gray;
  padding: 10px 0px;
  text-align: center;
  font-size: 2.1vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.calling-tracker-field-sub-div {
  width: 69%;
  /* border: 1px solid gray; */
  /* padding: 5px 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.calling-tracker-two-input {
  width: 40%;
  border-radius: 5px;
  padding: 1px;
  color: rgba(128, 128, 128, 0.782);
  border: 1px solid #f2f2f2;
  font-size: 16px;

}

.calling-tracker-input-message {
  width: 80%;
  border-radius: 5px;
  /* border: 1px solid gray; */
  display: flex;
  /* justify-content: center; */
}

.calling-tracker-two-input-container {
  width: 69%;
  /* border: 1px solid gray; */
  padding: 5px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  text-align: center;
  color: gray;
  /* Set font color to gray */
  display: flex;
}

.main-gender {
  font-size: 1em;
  /* Use em for relative sizing */
  color: gray;
  /* Set font color to gray */
}

.gender-checkboxes {
  display: flex;
  align-items: center;
  gap: 10px;
  color: gray;
  /* Set font color to gray */
}

.gender-checkboxes input[type="checkbox"] {
  margin-right: 0px;
  /* Adjust spacing between checkbox and label */
  color: gray;
  /* Set font color to gray */
}


.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px;
  margin: 20px;
  text-align: center;
  justify-content: space-around;
  color: gray;
  /* Set font color to gray */
}

.ctf-btn {
  background-color: #ffcb9b;
  color: white;
  border-radius: 15px;
  border: 1px solid gray;
  /* cursor: pointer; */
  font-size: 16px;
  /* Use em for relative sizing */
  text-align: center;
  width: auto;
  height: 30px;
  /* Allow height to adjust based on content */
  backdrop-filter: blur(2px);
  transition: 0.5s;
  line-height: 0.7;
}

.ctf-btn:hover {
  background-color: white;
  color: #ffcb9b;
  border: 1px solid gray;
}

.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  margin-top: 20px;
}

#currentDate {
  width: 75%;
  padding: 10px;
  font-size: 1em;
  /* Use em for relative sizing */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: gray;
  /* Set font color to gray */

}

.custom-datepicker-container {
  position: relative;
  display: inline-block;
}

b,
strong {
  color: gray;
  /* Set font color to gray */
}