.chart-container {
  width: 1100px !important; 
  height: 600px;
  display: flex;
  justify-content: start;
  /* align-items: center; */
  margin-top: 25px;
  }

  .piechart-container{
    width: 550px;
    height: 450px;
    display: flex;
    flex-direction: row;
  }

.legend {
  list-style-type: none;
  padding: 0;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}
.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.piechrt-legends{
  width: 355px;
  height: 280px;
  position: relative;

  border: 1px solid grey;
  box-shadow: 5px 3px 5px grey
}
.piechart-legend-flex{
  display: flex;
 

}

.text-index-piechart{
  text-align: center;
  color: grey;
  padding-top: 5px;
}

.tooltip-piechart {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.pie-segment:hover .tooltip-piechart{
  opacity: 1; 
}