/* Ajhar-reportsPieChart.css-10-07-2024-lineNo-1-to-10 */

.chart-container {
    width: 250px; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    margin-top: -385px;
    margin-left: -3750px;
    display: flex;
    align-items: center;
  }
  

