/* Mohini_IssueSolving_19/07/2024_wholePage_CSS_startLine_1_EndLine_117 */

.issue-container {
    max-width: 800px;
    /* top: 0; */
    position: sticky;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.issue-header h1 {
    font-size: 18px;
    text-align: center;
}

.issue-header {

    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    position: sticky;
    top: 0;
    padding-top: 10px;
    z-index: 1000;
    /* Ensure header stays above content */
    /* border-bottom: 3px solid #f0f0f0; */
    background-color:var(--Bg-color);
    font-size: 18px;
}


.issue-content h1 {
    font-size: 18px;
    align-items: center;
}


.issue-content h2 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
}

.issue-content h5 {
    font-size: 16px;
    color: black;
    margin-top: 20px;
    font-weight: bold;
}

.issue-content h3 {
    font-size: 16px;
    color: black;
    margin-top: 20px;
    font-weight: bold;

}

.issue-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.issue-content ul {
    margin-top: 10px;
    padding-left: 20px;
}

.issue-content ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.issue-content ul li b {
    font-weight: bold;
    color: #000;
}

.issue-agreement {
    margin-top: 20px;
}

.issue-agreement input {
    margin-right: 10px;
}

.issue-button {
    margin-top: 20px;
    margin-right: 10px;
    /* Added margin-right for spacing between buttons */
    padding: 10px 20px;
    background-color: #ffcb9b;
    color: white;
    border: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

.issue-button:hover {
    background-color: white;
    color: #ffcb9b;
}

.issue-button {
    display: flex;
}


@media print {
    .issue-content {
        padding: 10px;
        margin-left: 20px;
    }
}

/* Mohini_IssueSolving_19/07/2024_wholePage_CSS_startLine_1_EndLine_117 */