CSS
/* Mohini_WorkplacePolicy_19/07/2024_wholePage_CSS_startLine_1_EndLine_117 */

.policy-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.policy-header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    position: sticky;
    top: 0;
    padding-top: 10px;
    z-index: 1000;
    /* Ensure header stays above content */
    border-bottom: 3px solid #f0f0f0;
    background: linear-gradient(90deg, #ffb281, #ffe5b5, #ffb281);
    font-size: 18px;
}


.policy-content h2 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
}

.policy-content h5 {
    font-size: 16px;
    color: black;
    margin-top: 20px;
    font-weight: bold;
}

.policy-content h3 {
    font-size: 16px;
    color: black;
    margin-top: 20px;
    font-weight: bold;

}

.policy-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.policy-content ul {
    margin-top: 10px;
    padding-left: 20px;
}

.policy-content ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.policy-content ul li b {
    font-weight: bold;
    color: #000;
}

.policy-agreement {
    margin-top: 20px;
}

.policy-agreement input {
    margin-right: 10px;
}

.policy-button {
    margin-top: 20px;
    margin-right: 10px;
    /* Added margin-right for spacing between buttons */
    padding: 10px 20px;
    background-color: #ffcb9b;
    color: white;
    border: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}

.policy-button:hover {
    background-color: white;
    color: #ffcb9b;
}

.vefify-button {
    display: flex;
}

.policy-message {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    /* color: green; */
    /* color: #ffcb9b; */

}

@media print {
    .policy-content {
        padding: 10px;

    }
}

/* Mohini_WorkplacePolicy_19/07/2024_wholePage_CSS_startLine_1_EndLine_117 */