.mb-4{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mb-4 button{
    height: 80px;
    width: 200px;
    font-size: 18px;
    background-color: white;
    color: black;
}
.join-container{
    background-color: white;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        
}
.Join-form-data{
    width: 100%;
text-align: center;
padding: 10px !important;
}
.col-md-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
label{
    width: 60%;
    font-weight: 700;
}

.candidate-selectdata{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    padding: 6px;
}

.no-space {
    margin: 0;
    padding: 3px;
  }
  
  .form-select-div{
    height: 600px;
    padding: 10px;
    margin: 10px;
  }