.join-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

}

.Join-form-data {
  width: 100%;
  text-align: center;
  padding: 10px !important;
}


.candidate-selectdata {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1200px;
  padding: 6px;
}

.no-space {
  margin: 0;
  padding: 3px;
}

.form-select-div {
  height: 600px;
  padding: 10px;
  margin: 10px;
}

/* new css */

.after-head {
  width: 100%;
  height: 90px;
  background-color: #ffe5b5;
  align-items: center;
  justify-content: center;
  display: flex;
}

.after-button {
  background-color: #ffcb9b;
  color: white;
  border-radius: 15px;
  height: 40px;
  width: 280px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  border: 1px solid gray;
}

.after-button:hover {
  background-color: white;
  color: #ffb281;
}

.after-mail-div {
  height: 50px;
  width: 600px;
  align-items: center;
  text-align: left;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  color: gray;
}

.after-mail-div:hover {
  border: 1px solid gray;
  background-color: #ffe5b5;
  border-radius: 5px;
  width: 580px;
  margin-left: 10px;
}

.after-select {
  width: 320px;
  height: 35px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;

}

.after-lable-div {

  width: 210px;
}

.after-label {
  font-weight: bold;
  color: #495057;
  text-align: left;
}

.after-h3 h3 {
  font-weight: bold;
  font-size: 18px;
  color: gray;
}

.after-document-fisrt {
  height: 420px;
  width: 600px;
  padding-top: 20px;
}

.after-document-fisrt:hover {
  background-color: #ffd8a8;
}


.after-documnet-sub {
  display: flex;
  /* border: 1px solid gray; */

  box-shadow: 0px 4px 4px 2px gray;
}

.after-documnet-sub:hover {
  background-color: #ffcb9b;
}

.after-document-files {
  display: flex;
  margin: 20px;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
  width: 530px;
}

.after-file-input {
  border-radius: 4px;
  border: 1px solid gray;
  /* box-shadow: 2px 2px 2px  #495057; */
  background-color: white;
}

.after-input {
  width: 320px;
}

/* active form css */

.active-heading {
  height: 40px;
  width: 400px;

  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 7px;
}

.active-heading-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.after-close-btn {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin-left: 120px;

}

/* table css work */



.active-resone {
  width: 110px;
}

.as-nofilechosen {
  color: red;
}