.selected-candidate-table th{
    background-color: #ffcb9b;
    color: gray;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    border: 1px solid gray;
    padding: 10px 15px;
    position: static;
}

.selectFlowBtn{
  height: 35px;
  margin: 2px 20px;
  background-color: #ffcb9b;
  border:1px solid #F2F2F2;
  color: grey;
  padding: 4px;
  border-radius: 8px ;
}

  .selected-candidate-table {
    width: 1500px;
    height: 100%;
    background: white;
    border-radius: 5px;
    padding-top: 0%;
    
  }
  
  .selected-candidate-table th,
  .selected-candidate-table td{
    border: 1px solid gray;
    color: rgb(84, 84, 84);
    font-size: 16px;
    white-space: nowrap;
   
  }
  

  
  .selected-candidate-table .selectedcandidaterows {
    text-align: center;
    font-size: 16px;
    border: 1px solid gray;
    padding: 10px 15px;
    white-space: nowrap;
    position: sticky;
    
  }
  tr{
    margin-right: 10px;
    width: 1500px;
    border: 1px solid gray;
    white-space: nowrap;
  }
  .selected-candidate-table .selectedcandidaterows:hover {
    background-color: #F2F2F2; 
  }
  .selectedCan-filter-btn{
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    color: #ffcb9b;
    height: 30px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  

