  /* .attendanceTableData{
    position: fixed;
    
  }
   */
   .attendanceTableHeader{
      display: flex;
      justify-content: space-between;
      padding: 10px;
      gap: 15px;
      position: sticky;
      left: 5px;
      margin-bottom: 10px;
   }
   .attendanceTableHeader button{
    font-size: 16px;
    border-radius: 15px;
    /* width: 120px; */
    padding: 0 10px;
    background-color: #ffb281;
    color: white;
    border: 1px solid gray;
    transition: background-color 0.3s, color 0.3s;
   }
   .attendanceTableHeader button:hover{
      background-color: white;
      color: #ffb281;
   }
  .shortlistedheading th{
    background-color: #ffcb9b;
    color: gray;
    white-space: nowrap;
    text-align: center;
    font-size: 16px;
    padding: 4px 15px;
    font-weight: 100;
    border: 1px solid gray;
    
  }
.shortlisted-tablehead{
  font-size: 16px;
  color: gray;
  font-weight: 100;
}
.tabledaterow td{
  background-color: white;
  font-size: 18px;
  border: 1px solid gray;
  text-align: center;
}
.shortlistedcandidate td{
  text-align: center;
    font-size: 16px;
    border: 1px solid gray;
    padding: 1px 15px;
}

.shortlistedcandidate .tabledaterow:hover {
  background-color: #F2F2F2; 
}
/* today */
