/* .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  } */
  
  /* .search .fa-magnifying-glass {
    cursor: pointer;
  } */
  
  /* .search input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  } */
  
  /* .filter-section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
  } */
/*   
  .filter-dropdowns {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .filter-dropdown {
    margin-bottom: 5px;
  } */
  
  /* .dropbtn {
    background-color: white;
    color: #333;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  /* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .dropdown-content div {
    padding: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
   */
  /* .attendanceTableData {
    margin-top: 10px;
  }
   */
  /* .attendance-table {
    width: 100%;
    border-collapse: collapse;
  } */
  
  /* .attendance-table th, .attendance-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  } */
  
  /* .attendanceheading {
    background-color: #f2f2f2;
    cursor: pointer;
  } */
  
  /* .attendancerows:hover {
    background-color: #f2f2f2;
  }
   */
  /* .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  } */
  
  /* .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  } */
  
  /* .tooltip:hover .tooltiptext {
    visibility: visible;
  }
   */
  /* Styles for buttons */
  .App-after button {
    font-size: 16px;
    border-radius: 15px;
    height: 30px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    background: #ffcb9b;
    border: 1px solid gray;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .App-after button:hover {
    background-color: white;
    color: #ffcb9b;
    opacity: 0.8;
  }
  
  /* Responsive adjustments */
  /* @media (max-width: 768px) {
    .search {
      flex-direction: column;
    }
  
    .search .fa-magnifying-glass {
      margin-top: 10px;
    }
  
    .search input[type="text"] {
      margin-bottom: 0;
    }
  } */