.daily-work-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}

.working-time-div{
  display: flex;
  gap: 10px;
}

.timer-break-btn, .logout-btn {
  font-size: 16px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 15px;
  height: 35px;
  width: 90px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.timer-break-btn:hover, .logout-btn:hover {
  background-color:#ffcb9b;
  color: grey;
}

.logout-btn {
  background-color: #ffcb9b;
  color: black;
}

.loging-hr {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #ffcb9b;
  color: white;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  font-size: 16px;
}
.loging-hr:hover{
  background-color: white;
  color: grey;
}

.daily-tr-btn {
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  height: 35px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.daily-tr-btn:hover{
  background-color: #ffcb9b;
  color:grey ;
}

.daily-timeanddate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  padding: 10px;
}

.all-daily-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.daily-timeanddate .head {
  margin-left: 10px;
}

.daily-t-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.show-daily-t-btn {
  display: none;
}

.daily-t-btn.hidden {
  display: none;
}

.daily-t-btn.vertical {
  flex-direction: column;
}

@media (min-width: 1100px) {
  .daily-t-btn {
    display: none;
  }

  /* .show-daily-t-btn {
    display: block;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    background-color: white;
    transition: background-color 0.3s ease;
  } */

  .show-daily-t-btn:hover {
    background-color: #fb6f92;
    color: white;
  }

  .daily-t-btn.hidden {
    display: flex;
  }
}

/* New media query added to show .show-daily-t-btn when width is below 1100px */
@media (max-width: 1100px) {
   .show-daily-t-btn {
    display: block;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    background-color: white;
    transition: background-color 0.3s ease;
  }
}
