.daily-work-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px ;
  border: 1px solid gray;
  position: relative;
}
.select{
      word-wrap: normal;
    padding:2px;
    height: 35px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 15px;
}

.select:hover{
   background-color:#ffcb9b;
  color: grey;
}


.header-clouds{
    position: absolute;
      top: -140px;
    left: 0;
    width: 200%;
    height: 300%;
    background: url('/src/LogoImages/clouds1.png') repeat-x;
background-size: cover;    
background-position: center;
animation: moveClouds 40s linear infinite;
    z-index: -1;
}

@keyframes moveClouds {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}



.working-time-div{
  display: flex;
  gap: 10px;
}

.timer-break-btn{
  font-size: 16px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 15px;
  height: 35px;
  width: 90px;
  color: white;
  background-color: #ffcb9b;
  transition: background-color 0.3s ease;
}

.timer-break-btn:hover, .logout-btn:hover {
  background-color:white;
  border: 1px solid gray;
  color: #ffcb9b;
}

.logout-btn:hover {
  background-color:white;
  border: 1px solid gray;
  color: #ffcb9b;
}
.logout-btn {
  
  cursor: pointer;

  border-Radius: 60%;
  height: 30px;
  width: 40px;
 
  background-color: #ffcb9b;
  
}

.loging-hr {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #ffcb9b;
  color: white;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  font-size: 16px;
}

.loging-hr:hover{
  background-color: white;
  color: #ffcb9b;
  border: 1px solid gray;
}

.daily-tr-btn {
  border: 1px solid gray;
  border-radius: 15px;
  background-color: #ffcb9b;
  font-size: 16px;
  color: white;
  height: 35px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily-tr-btn:hover{
  background-color: white;
  color: #ffcb9b;
  border: 1px solid gray;

}

.daily-timeanddate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  padding: 10px;
}

.all-daily-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
 
}

.daily-timeanddate .head {
  margin-left: 20px;
  padding-top: 12px;
}

.user-details{
  padding-top: 8px;
}

.daily-t-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  

}

.show-daily-t-btn {
  display: none;
}

.daily-t-btn.hidden {
  display: none;
}

.daily-t-btn.vertical {
  flex-direction: column;
}

@media (min-width: 1100px) {
  .daily-t-btn {
    display: none;
  }

  .show-daily-t-btn:hover {
    background-color: #ffcb9b;
    color: white;
  }

  .daily-t-btn.hidden {
    display: flex;
  }
}

@media (max-width: 1100px) {
   .show-daily-t-btn {
    display: block;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    background-color: white;
    transition: background-color 0.3s ease;
  }
}
