/* Swapnil_DailyWork_Cloud_OverFlow_Adjust_28_to_39_02/07 */




.daily-work-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  position: relative;
}

.select {
  word-wrap: normal;
  padding: 2px;
  height: 35px;
  width: 90px;
  border: 1px solid gray;
  border-radius: 15px;
}

.select:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
}


.header-clouds {
  position: fixed;
  top: -136px;
  left: 0;
  width: 200%;
  height: 206px;
  background: url(/src/LogoImages/clouds.png) repeat-x;
  background-size: cover;
  background-position: center;
  animation: moveClouds 40s linear infinite;
  z-index: -1;
}

@keyframes moveClouds {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}



.working-time-div {
  display: flex;
  gap: 10px;
}

.timer-break-btn {
  font-size: 16px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 15px;
  height: 30px;
  width: 90px;
  color: white;
  background-color: var(--button-color);
  transition: background-color 0.3s ease;
}

.timer-break-btn:hover,
.logout-btn:hover {
  background-color: var(--button-hover-color);
  border: 1px solid gray;
  color: var(--text-hover-color);
}

.logout-btn:hover {
  background-color: var(--button-hover-color);
  border: 1px solid gray;
  color: var(--text-hover-color);
}

.logout-btn {

  cursor: pointer;

  border-Radius: 60%;
  height: 30px;
  width: 40px;

  background-color: var(--button-color);

}

.loging-hr {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: var(--button-color);
  color: white;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  font-size: 16px;
}

.loging-hr:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
  border: 1px solid gray;
}

.daily-tr-btn {
  border: 1px solid gray;
  border-radius: 15px;
  background-color: var(--button-color);
  font-size: 16px;
  color: var(--text-hover-color);
  height: 30px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily-tr-btn:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
  border: 1px solid gray;

}

.daily-timeanddate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  padding: 10px;
  background-color: var(--Bg-color);
}

.all-daily-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

}

.daily-timeanddate .head {
  margin-left: 20px;
  /* padding-top: 12px; */
}


.user-details p {
  font-size: 18px;
  color: gray;
  font-weight: 400;
}

.daily-t-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;


}

.show-daily-t-btn {
  display: none;
}

.daily-t-btn.hidden {
  display: none;
}

.daily-t-btn.vertical {
  flex-direction: column;
}


.toggle-all-daily-btns {
  display: none;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 15px;
  height: 30px;
  width: 120px;
  background-color: var(--button-color);
  color: white;
  transition: background-color 0.3s ease;
  margin: 10px auto;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.toggle-all-daily-btns:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
  border: 1px solid gray;
}

@media (min-width: 1000px) {
  .all-daily-btns {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 947px) {
  .all-daily-btns {
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .show-daily-t-btn {
    display: block;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    background-color: white;
    transition: background-color 0.3s ease;
    margin: 10px auto;
    text-align: center;
  }

  .toggle-all-daily-btns {
    display: block;
  }
}


/* Arshad Start css from here */
/* Center the modal */
.dw-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1050; /* Ensure the modal is on top */
}

/* Modal content styling */
.dw-modal-content {
  background-color: white;
  border-radius: 3px;
  width: 450x;
  height: 500px;
  margin: 10px;
  }

/* Waiting image styling */
.dw-waiting-img {
  height: 300px;
  width: 500px;
}

.dw-resume-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  gap: 5px;
}

/* Modal footer */
.dw-modal-footer {
  display: flex;
  justify-content: center; /* Center footer contents */
  padding-top: 1rem; /* Space above footer */
}

/* Button styling */
.dw-close-profile-popup-btn {
  color: white; /* Button text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}
