.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    height: auto; /* Set a fixed height for the container */
    transition: all 0.3s ease;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: #ffe5b5;
    transition: all 0.3s ease;
    z-index: 1000;
}

.empDash-main-content {
    grid-column: 2 / 3;
    padding: 40px 0px 0px 10px;
    overflow-y: hidden; /* Prevent scrolling */
    height: calc(100vh - 60px); /* Adjust this height according to the height of the fixed header */
    transition: all 0.3s ease;
}

.time-and-data .head {
    display: flex;
    gap: 10px;
    color: grey;
    font-size: 18px;
    padding-top: 30px;
    font-weight: bold;
}

.time-and-data {
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #ffe5b5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.user-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Adjusting styles for when sidebar is closed */
.sidebar-closed .grid-container {
    grid-template-columns: 50px 1fr;
}

.sidebar-closed .empDash-main-content {
    grid-column: 1 / 3;
    margin-left: 0;
    padding-left: 66px;
    padding-top: 42px;
}

/* Responsive layout */
@media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 240px 1fr;
      grid-template-rows: auto;
      height: auto; /* Adjust height to auto for responsiveness */
    }

    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    .empDash-main-content {
      grid-column: 1 / -1;
      grid-row: 2;
      padding: 10px;
      height: auto; /* Adjust height to auto for responsiveness */
    }
}