/* EmpDashboard.css */
.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: auto;

}

.sidebar {
  grid-column: 1 / 2;
  background-color: var(--Bg-color);
}

.empDash-main-content {
  grid-column: 2 / 3;
  padding: 20px;
  overflow-y: auto;
}

.time-and-data .head {
  display: flex;
  z-index: 99999;
  height: 50px;
  gap: 10px;
  color: grey;
  font-size: 18px;
  font-weight: bold;
}

.time-and-data {
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  background-color: #ffe5b5;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu-icon {
  display: none;
}

/* Media queries for responsiveness */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'header'
      'main';
  }

  .menu-icon {
    display: block;
  }

  .header-left {
    display: none;
  }
}

.user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar-closed .empDash-main-content {
  margin-left: 50px;

}

/* Classes for toggling sidebar state */
.grid-container.sidebar-closed {
  grid-template-columns: 0 1fr;
}

.grid-container.sidebar-closed .sidebar {
  width: 55px;
}

.grid-container.sidebar-closed .sidebar-text {
  display: block;
}