.employee-card {
padding-top: 20px;
    border-radius: 8px;
    width: 250px;
    height: 100px;
    text-align: center;

  }
  
  .timer {
    font-size: 30px;
    font-weight: bold;
    display: block;
    color: black;
  }
  
  /* .timer-break-btn {
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #424141;
    border-radius: 15px;
    background: url(../LogoImages/Capture.PNG); */
    /* background-color: #fb6f92; */
    /* transition: background-color 0.3s ease; */
    /* color: black; */
  /* } */
  
  .login-btn {
    background-color: #4CAF50;
    color: black;
  }
  
  /* .timer-break-btn {
    background-color: white;
    color: white;
    width: 133px;
  } */
  
  .break-btn.on-break {
    background-color: green;
  }
  
  .logout-btn {
    background-color: #FF5733;
    color: black;
  }
  
  /* .timer-break-btn:hover {
    background-color:white;
    color: #fb6f92;
    border: 1px solid #fb6f92;
    border-radius: 15px;
  } */
  