 


.search-bar {
  display: flex;
 
  margin-bottom: 20px;
  height: 90px;
  align-items: center;
  justify-content: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 0.5px solid #f3e8e8;
  padding: 10px;
  background: #F8F8F9;
  border-radius: 5px;
  
}

.searchmenu {
  display: flex;

  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-right: 10px;
  padding-left: 5px;
  margin-left: 15px;
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  /* padding-right: 100px; */
}

.main-search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.main-search-bar input[type="text"] {
  height: 50px;
  width: 350px;
  justify-content: space-between;
 padding-right: 50px;
 padding-left: 40px;
 font-size: 14px;
 font-weight: 400;
 font-family: Poppins, Arial, Helvetica, sans-serif;
}

.main-search-bar button {
  padding: 12px 24px;
  background-color: #4774e5;
  color: white;
  border: none;
  cursor: pointer;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 0.5;
  
}
.intli{
  line-height: 1.5;
  font-size: 12px;
  font-weight: 400;
  color: #767c83;
}

.job-description {
  display: flex;
  height: auto;
  border-radius: 5px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-bottom: 12px;
  width: 610px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-shadow: 0.5px 0.5px 2px 1px #e9eeee;
  line-height: 0.5;
}

 .description label{
  font-size: 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 0.5;
  font-weight: 600;
  color: red;

} 

.job-description  h2{
  color: #767c83;
}

.job-description p{
  font-size: 12px; 
  font-family: FF6868;
  line-height: 0.5;
  font-weight: 400;
  color: #767c83;

}
.jobdescriptioncontent{
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.jobsbuttons{
  
  color: #767c83;
  display: flex;
  justify-content: space-around;
  border: none;
  padding-right: 5px;
  background-color: white;
  padding: 13px 25px;
  cursor: pointer;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border: 0.5 solid #e9eeee;
  border-radius: 5px;
}
.btn-group button ul li .dropdown-item{
  font-size: 13px;
  font-weight: 600;

}


.description{
  display: block;
}

.jobDiscription-sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 220px;
  padding: 20px;
  padding-bottom: 1px;
  background-color: white;
  font-family: Futura Std Condensed Light;
  border-radius: 5px;
  font-weight: 600;
  /* z-index: 999; */
  color: #767c83;
  border: 1px solid #e9eeee;
  line-height: 0.1;
  position: sticky; /* Keep sidebar fixed while scrolling */
  top: 0; 
  
  
}

.toggle-list {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  height: auto;
  font-weight: 500;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 0.1;
}

.toggle-list.active {
  background-color: #dee6e6;
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 0.1;
  
}


.job-details {
  flex: 1;
  padding: 10px;
  padding-top: 1px;

  color: black;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 0.1;

}

.close-button {
  background-color: #e9eeee;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 600;
  font-family: futura;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
}

.close-button:hover {
  background-color: red;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.view-more-button, btn-danger {
  background-color: #e9eeee;
  color: rgb(24, 23, 23);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.add {
  flex: 1;
  font-size: 12px;
  
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: black;
}

.advertise,
.additional-box {
  flex: 1;
  /* height: 220px;
  width: 310px; */
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
 margin-bottom: 10px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-shadow: 0.5px 0.5px 2px 1px #e9eeee;
  
}

.job-page{
  width: fit-content;
}