/* Dhanashree_InvoiceTable_Date(10/07)_Css Start line no. 3*/

.invoice-container {
  width: 100%;
  padding: 10px;
  /* Increase padding for better spacing */
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Align items to the right */
}

.invoice-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* Align items at the ends */
  align-items: center;
  margin-bottom: 10px;
}

.logo-container {
  display: table-column;
  padding-right: 30px;
  align-items: center;
  margin-left: auto;
  /* Push logo to the right */
}

.logo {
  width: 120px;
  height: auto;
}

.company-name {
  text-align: left;
  /* Align text left */
  margin-left: 10px;
  /* Add some space between logo and company name */
  font-size: 10px;
}

.invoice-table-container {
  width: 100%;
  padding: 1px;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-table td {
  border: 1px solid #000;
  padding: 1px;
  text-align: center;
  /* Align all text center */
}

.tax-invoice {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

.invoice-table .receiver-details {
  text-align: left;
}

.invoice-table .supplier-details {
  text-align: left;
}

/* Dhanashree_InvoiceTable_Date(11/07)_Css Start line no. 68*/

.receiver-details,
.supplier-details {
  vertical-align: top;
  text-align: left;
  /* Align text left for these columns */
}

/* Dhanashree_InvoiceTable_Date(11/07)_Css Start line no. 75*/


.invoice-table .bank-details {
  text-align: left;
}

.original-recipient {
  font-weight: bold;
  white-space: nowrap;
}

.invoice-date,
.invoice-number,
.brief-description {
  font-weight: bold;
}

.highlight-row {
  background-color: #f2f2f2;
  font-weight: bold;
}

.total-label,
.total-amount {
  font-weight: bold;
}

.gst-breakup,
.amount-in-words {
  font-weight: bold;
}

.invoice-table .no-upper-border td:nth-child(-n+4) {
  border-top: none;
}

/* Dhanashree_InvoiceTable_Date(11/07)_Css Start line no. 102*/

.amount-in-words td {
  text-align: left;
}

.bank-details td {
  vertical-align: top;
  text-align: left;
}

/* Dhanashree_InvoiceTable_Date(11/07)_Css End line no. 113*/


.bank-details .center-text {
  display: flex;
  margin-left: 60%;
}

.nowrap-text {
  white-space: nowrap;
}


@media screen and (max-width: 600px) {
  .invoice-table-container {
    padding: 1px;
  }

  .invoice-table td {
    padding: 1px;
    font-size: 12px;
  }

  .tax-invoice {
    font-size: 18px;
  }

  .receiver-details,
  .supplier-details {
    font-size: 12px;
  }

  .original-recipient,
  .invoice-date,
  .invoice-number,
  .brief-description,
  .total-label,
  .total-amount,
  .gst-breakup,
  .amount-in-words,
  .bank-details {
    font-size: 16px;

  }
}


/* Dhanashree_InvoiceTable_Date(10/07)_Css End line no. 144*/