
/* Mohini_InvoiceTable_WholePage_11/07/2024_StartLine_1 _to_EndLine_189 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.job-desc {
  font-family: Arial, sans-serif;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-desc-form {
  border: 1px solid gray;
  margin-bottom: 5px;
}

.job-performance {
  border-radius: 5px;
  width: 100%;
}

.job-performance article {
  text-align: center;
  color: gray;
  font-size: 18px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


.field-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.field-Row-Gray {
  width: 100%;
  display: flex;
  background-color: #F2F2F2;
  justify-content: space-around;
  align-items: center;
}

.field-Row-white {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

.field {
  width: 100%;
  display: flex;
  padding: 5px 0px;
  border: 1px solid gray;
}

.field label {
  width: 29%;
  font-size: 18px;
  padding: 0px 5px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  color: gray;
}

.field input {
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  color: gray;
  border-radius: 5px;
  width: 69%;
}

.textarea {
  width: 69%;
  height: 34px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 0;
  resize: vertical;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.multi-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 5px;
  margin-bottom: 2px;
  overflow: hidden;
}

.inner-field label {
  width: 20%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  color: gray;
}

.inner-field input {
  width: 80%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.job-submit-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Mohini_InvoiceTable_WholePage_09/07/2024_StartLine_1 _to_EndLine_189 */
