/* Mohini_13/07/2024_QuestionPaper_startLine_01_EndLine_237 */
.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.option {
  display: flex;
  align-items: center;
  margin-top: 5px;
  width: 70%;
}

.option input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  width: 50%;
  margin-right: 10px;
  /* Space between input and label */
}

.option label {
  font-size: 14px;
  color: #333;
  /* Adjust color as needed */
  height: 30px;
  width: 50%;
}

/* Optional: Focus and hover styles */
.option input[type="text"]:focus {
  border-color: gray;
  /* Bootstrap primary color */
  outline: none;
  /* Remove default outline */

}

.option input[type="text"]:hover {
  border-color: gray;

}


.question-paper-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  /* max-width: 700px; */

  width: 100%;
  /* background-color: #f9f9f9; */
}


/* QuestionPaper.css */
.underline {
  margin: 0;
  /* Removes any margin */
  padding: 0;
  /* Removes any padding */
}


.header {
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  align-items: center;
  /* Center align items */
  padding: 20px;
  /* Add some padding around the header */
  /* background-color: #f8f9fa; */
  font-size: 18px;
}


.logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: auto;
}

.question-paper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  /* Added margin-top to center align buttons */
}

.buttons button {
  cursor: pointer;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:var(--button-color);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
}

.buttons button:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.alert p {
  margin-bottom: 10px;
}

.alert button {
  height: 30px;
  cursor: pointer;
  background-color: #ffcb9b;
  color: white;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  font-size: 16px;
  margin: 0 5px;
}

.alert button:first-child {
  margin-right: 10px;
}

.alert button:hover {
  background-color: white;
  color: #ffcb9b;
}

.question input[type="text"] {
  padding: 10px;
  /* Padding for comfort */
  width: 65%;
  border: 1px solid #ccc;
  /* Light border */
  border-radius: 4px;
  /* Rounded corners */
  font-size: 16px;
  /* Readable font size */
  transition: border-color 0.3s;
  /* Smooth transition for focus */
  height: 30px;
}

/* Focus and hover styles */
.question input[type="text"]:focus {
  border-color: gray;
  /* Change border color on focus */
  outline: none;
  /* Remove default outline */
}

.add-container {
  display: flex;
}

.pdf-header {
  margin-top: 20px;
}

.form-containers {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pdf-preview {
  margin-top: 20px;
  /* Adjust margin as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.pdf-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Adjust space between buttons */
  margin-top: 20px;
  /* Adjust margin from the PDF iframe */
}

.pdf-buttons .button {
  cursor: pointer;
  height: 30px;
  padding: 0 15px;
  background-color: #ffcb9b;
  /* Example color (blue), adjust as needed */
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
}

.pdf-buttons .button:hover {
  background-color: white;
  /* Darker shade for hover effect */
  color: #ffcb9b;
}


/* Mohini_13/07/2024_QuestionPaper_startLine_01_EndLine_237 */