.main-description-share {
  width: 100%;
  z-index: 80000;
  top: 0px;
  position: absolute;
  background: rgba(45, 45, 45, 0.895);
  padding: 50px;
}

.main-description-share1 {
  width: 100%;
  z-index: 80000;
  top: 0px;
  position: absolute;
  background: rgba(45, 45, 45, 0.895);
  padding: 50px;
}

.main-description-share2 {
  width: 100%;
  z-index: 80000;
  top: 0px;
  position: absolute;
  background: rgba(45, 45, 45, 0.895);
  padding: 50px;
}

.job-post-share {
  max-width: 950px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--Bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: gray;
}

.job-details-share a {
  text-decoration: none;
  color: gray;
}

.responsibilities-share,
.requirements-share,
.preferred-qualifications-share,
.perks-share,
.positionOverview-share {
  margin-bottom: 5px;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 0 1px black;
}

.job-details-share h2,
.responsibilities-share h2,
.requirements-share h2,
.preferred-qualifications-share h2,
.perks-share h2 {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

.job-details-share p,
.responsibilities-share ul,
.requirements-share ul,
.preferred-qualifications-share ul,
.perks-share ul {
  color: black;
  font-size: 16px;
  line-height: 1.5;
}

.job-details-share {
  display: grid;
  width: 100%;
  background-color: #f2f2f2;
  box-shadow: 0 0 1px black;
  border-radius: 15px;
  margin-bottom: 5px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.job-title-share {
  text-align: center;
  grid-column: 1 / -1;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
  background-color: #f2f2f2;
  box-shadow: 0 0 1px black;
}

.job-details-firstsection-share {
  border-right: 2px solid #ffd8a8;
  grid-column: span 1;
  padding: 20px;
}

.job-details-secondsection-share {
  grid-column: span 1;
  padding: 20px;
}

.job-details-share p,
.responsibilities-share p,
.requirements-share p,
.preferred-qualifications-share p,
.perks-share p {
  margin-bottom: 5px;
}

.responsibilities-share ul,
.requirements-share ul,
.preferred-qualifications-share ul,
.perks-share ul {
  list-style-type: disc;
  padding-left: 20px;
}

.apply-section-share {
  text-align: center;
}

.apply-button-share {
  /* padding: 10px 20px; */
  margin: 5px;
  margin-top: 15px;
  border-color: black;
  background-color: var(--button-color);
  box-shadow: 0 0 5px #f2f2f2;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
  height: 30px;
  width: auto;
  vertical-align: middle;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);/ */
  border: 1px solid #ccc;
}

.apply-button-share:hover {
  background-color: var(--button-hover-color);
  color:var(--text-hover-color) ;
  border: #f2f2f2;
}

@media (max-width: 600px) {
  .job-post {
    padding: 10px;
  }
}