@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

/* Reset CSS */
/* Swapnil_SideBar_responsiveAccordingToScreen_24 to 218 _02/07 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
body {
  background-color: #dbe2f4;
  font-size: 16px;
}

.sidebar {
  position: fixed; /* Ensure the sidebar stays in place */
  top: 0;
  left: 0;
  height: 100vh; /* Full viewport height */
  padding-top: 60px !important;
  width: 245px;
  transition: width 0.3s;
  background-repeat: initial;
  display: flex;
  flex-direction: column;
  background-color: var(--Bg-color);
  padding: 0px;
  transition: width 0.8s;
}
.sidebar::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}
.nav::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}
.sidebar::-webkit-scrollbar-thumb {
  background: var(--Bg-color); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--Bg-color); /* Darker color on hover */
}

.sidebar-clouds1 {
  position: absolute;
  top: -550px;
  left: 0;
  width: 100%;
  height: 200%;
  background: url("/src/LogoImages/clouds.png") repeat-x;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@keyframes moveClouds1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.fa-solid {
  color: gray;
}
.user-img {
  width: 60px;
  height: 60px;

  overflow: hidden;
}
.user-img img {
  width: 100%;
  object-fit: cover;
}

.user-details .title,
.sidebar-menu .title {
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.user-details .name {
  font-size: 14px;
  font-weight: 500;
}
.nav {
  flex: 1;
  margin-bottom: 1px;
  padding: 5px 0px;
  /* margin-top: -40px; */
  margin-top: auto;
  overflow-y: auto;
  max-height: 85vh;
}
.sidebar-menu ul li {
  flex: 1;
  position: relative;
  /* list-style-type:disc; */
  color: gray;
  padding: 1px 0px;
  margin-bottom: 1px;
  margin-top: auto;
}

.sidebar-menu ul {
  padding-top: 5px;
  padding-left: 0px !important;
}

.sidebar-menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 10px;
  color: rgb(63, 58, 58);
  text-decoration: none;
  padding: 5px;
  border-radius: 15px;
  transition: all 0.7s;
}
.sidebar-menu ul li > a:hover,
.sidebar-menu ul li.active > a {
  /* color: gray; */
  /* padding: 7px; */
  background-color: var(--hover-effect);
}
.sidebar-menu ul li a ul li {
  margin-left: 30px;
}

.sidebar-menu ul li .icon {
  font-size: 18px;
  color: gray;
}
.sidebar-menu ul li .sidebar-text {
  flex: 1;
}
.sidebar-menu ul li .arrow {
  font-size: 18px;
  transition: all 0.3s;
}
.sidebar-menu ul li.active .arrow {
  transform: rotate(180deg);
}
.sidebar-menu .sub-menu {
  display: none;
  margin-left: 1px;
  padding-left: 2px;
  padding-top: 1px;
  /* border-left: 1px solid #ffb281; */
}
.sidebar-menu .sub-menu li a {
  width: auto;
  padding: 5px 1px;
  font-size: 18px;
}
.sidebar-menu:not(:last-child) {
  padding-left: 10px;
}
.sidebar-menu-btn {
  margin-left: 13px;
  width: 23px;
  height: 23px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color:var(--button-color);
  border: 1px solid var(--Bg-color);
  background-color: #fff;
}

.head-sidebar {
  position: fixed;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.sidebar-menu-btn:hover i {
  /* color: gray; */
  /* border: 1px solid black; */
  padding: 0px 2px;
  border-radius: 8px;
  background-color: #fff;
} 
.sidebar-menu-btn i {
  transition: all .30s;
}
.sidebar.active {
  width: 55px;
  height: 100vh;
}
.sidebar.active .sidebar-menu-btn i {
  transform: rotate(180deg);
  margin: 10px;
}
.sidebar.active .user-details {
  display: none;
}
.sidebar.active .sidebar-menu .title {
  text-align: center;
}
.sidebar.active .sidebar-menu ul li .arrow {
  display: none;
}
.sidebar.active .sidebar-menu > ul > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.sidebar.active .sidebar-menu > ul > li > a .sidebar-text {
  position: fixed;
  left: 70px;
  /* top: 50%; */
  width: 200px;
  text-align: center;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 4px;
  color: gary;
  background-color: var(--Bg-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.sidebar.active .sidebar-menu > ul > li > a .sidebar-text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: var(--Bg-color);
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active .sidebar-menu > ul > li > a:hover .sidebar-text {
  left: 62px;
  opacity: 1;
  visibility: visible;
}
.sidebar.active .sidebar-menu .sub-menu {
  position: fixed;
  left: 45px;
  width: 200px;
  border-radius: 15px;
  padding: 10px 20px;
  border: 1px solid gray;
  background-color: var(--Bg-color);
  box-shadow: 0px 10px 8px gray;
}

.sub-menu.active {
  display: block;
  padding-left: 20px !important;
  list-style: disc !important;
}

/* arshad added css here */
.sidebar-menu {
  padding-left: 10px;
}

.sidebar-text {
  color: gray;
}

/* Set all icons in the sidebar to gray color */
.sidebar i {
  color: gray;
}

/* Additional CSS for active state of the icons if needed */
.sidebar .active i {
  color: darkgray; /* Or any other shade if you want a different color for active state */
}

/* Example for setting the color of the arrow icons */
.sidebar .arrow {
  color: gray;
}



 .headerData{
     font-size: 18px;
 }

 .buttoncss:hover{
     background-color: var(--button-hover-color);
     color: var(--text-hover-color);
     border: 1px solid #ffb281;
 }
 
 .confirmation-text {
    color:grey;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    font-size: 1.1rem;
  }   

  .buttoncss {
    font-size: 18px;
    border-radius: 15px;
    color:white;
    background-color: var(--button-color);
    display: inline-block;
    padding: 8px 25px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    
  }