/*  Neha_addCompany.css_all_page_11/07/2024_lineno_2to_241*/
/*  Neha_addCompany.css_all_page_23/07/2024_lineno_3to_240*/
.ACD-desc {
  font-family: Arial, sans-serif;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 50px; */
  /* margin-top: 10px; */
  color: gray;
}

.ACD_Field-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid gray;
  padding: 1px;

}

.ACD_Field-Row-Gray,
.ACD_Field-Row-white {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px gray;


}

.ACD_Field-Row-Gray {
  background-color: #F2F2F2;
}

.ACD_Field-Row-white {
  background-color: white;
}

.ACD_Field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  border: 1px solid gray;
  align-items: center;
  white-space: nowrap;
  border-bottom: none;
  padding: 5px;
  /* height: 650px; */
  /* max-height: 100vh; */
}

.ACD_Field label {
  width: 28%;
  font-size: 18px;
  padding: 0px 5px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  color: gray;
}

.ACD_Field input[type="file"] {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ACD_Field input[type="text"],
.ACD_Field input[type="email"] {
  width: 50%;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  color: gray;
  border-radius: 5px;
}

.ACD_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}

.addcompanybutton {
  margin-top: 10px;
  height: 30px;
  background-color: var(--button-color);
  border-radius: 15px;
  color: white;
  border: 1px solid gray;
  padding: 2px 15px;
  font-size: 16px;
}

.addcompanybutton:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
}

.ACD_Attachments_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ACD_Attachments_list li {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 15px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .ACD-desc {
    margin: 20px;
  }

  .ACD_Field input[type="file"] {
    width: 100%;

  }

  .ACD_Field input[type="text"],
  .ACD_Field input[type="email"] {
    width: 100%;
  }

  .ACD_Field {
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  .ACD_Field-Row-Gray,
  .ACD_Field-Row-white {
    flex-direction: column;
  }

  .ACD_Field input[type="file"] {
    width: 50%;

  }

  .ACD_Field input[type="text"],
  .ACD_Field input[type="email"] {
    width: 50%;
  }

  .addcompanybutton {
    width: 100%;
    text-align: center;
  }

  .ACD_Field {
    padding: 10px;
    flex-direction: row;
  }

  .ACD_Field label {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .ACD-desc {
    margin: 10px;
  }

  .ACD_Field {
    padding: 5px;
  }

  .ACD_Field input[type="file"] {
    width: 100%;

  }

  .ACD_Field input[type="text"],
  .ACD_Field input[type="email"] {
    width: 100%;
  }

  .ACD_Field label {
    font-size: 16px;
  }

  .ACD_Field input,
  .ACD_Field select,
  .textarea {
    font-size: 14px;
  }

  .addcompanybutton {
    padding: 5px 10px;
  }
}

.ACD-share-send-popup-btn,
.ACD-close-send-popup-btn {
  font-size: 16px;
  border-radius: 15px;
  height: 30px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  background: #ffcb9b;
  border: 1px solid gray;
  cursor: pointer;
  margin-bottom: 10px;
}

.ACD-share-send-popup-btn:hover,
.ACD-close-send-popup-btn:hover {
  background-color: white;
  color: #ffcb9b;
  opacity: 0.8;
}

.ACD-close-send-popup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ACD_Loading_Animation {
  width: 100%;
  background: #00000052;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  z-index: 759845455622656;
  display: flex;
  justify-content: center;
  align-items: center;
}