.filter-section {
  margin-bottom: 20px;
}

.filter-dropdowns {
  display: flex;
  flex-wrap: wrap;
}

.filter-dropdown {
  margin-right: 20px;
}

.filter-dropdown label {
  display: block;
  margin-bottom: 5px;
}

.filter-dropdown select {
  width: 150px;
  /* Adjust as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

/* Style the filter section */
.filter-section {
  margin-top: 20px;
}

/* Style the filter dropdowns */
.filter-dropdown {
  margin-bottom: 10px;
}

/* Style the dropdown button */
.dropbtn {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  color: var(--button-color);
  height: 30px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the dropdown options */
.dropdown-content div {
  padding: 0px 10px;
  cursor: pointer;
}

/* Show the dropdown content when the dropdown button is clicked */
.filter-dropdown:hover .dropdown-content {
  display: block;
  width: 100%;
  z-index: 9999;
}

/* Style the checkbox input */
.dropdown-content input[type="checkbox"] {
  margin-right: 5px;
}

/* Style the checkbox label */
.dropdown-content label {
  cursor: pointer;
}

.App-after {
  width: 100%;
  background-attachment: fixed;
  height: 92vh;
  overflow: hidden !important;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
}

.attendance-table thead th {
  position: sticky;
  top: 0;
  background-color: #ffcb9b;
  color: gray;
  z-index: 1;
  height: 30px;
  white-space: nowrap;
  color: gray;
  max-width: auto !important;
  font-size: 16px;
  font-weight: 500;
}

.attendanceheading {
  border: 1px solid gray;
  padding: 4px;
  white-space: nowrap;
  width: auto !important;
  height: 30px;

  /* text-overflow: ellipsis; */
}

.tabledata {

  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding: 2px;
  max-width: 50px;
  border: 1px solid #ddd;
  /* width: auto; */
}

.tooltip {
  visibility: hidden;
  background-color: var(--Bg-color);
  color: #000;
  text-align: center;
  border-radius: 5px;
  /* padding: 5px; */
  position: fixed;
  /* Use fixed positioning */
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;
  text-overflow: clip;
  visibility: visible;
}

.tabledata:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  white-space: nowrap;
}

.attendancerows-head {
  background-color: var(--Bg-color);
  color: gray;
  /* font-weight: 100; */
  text-align: center;
  font-size: 18px;
  border: 1px solid gray;
  max-width: 300px;
}

.attendanceTableData::-webkit-scrollbar {
  display: none;
}

.attendanceTableData {
  height: 85vh;
  width: 100%;
  overflow-y: auto;
}

.attendancerows {
  color: gray;
  height: 30px;
}


.attendancerows:hover {
  background-color: #f2f2f2;
}

html::-webkit-scrollbar {
  display: none;
}

/* Team_Leader.css */


/* CSS for table already added so no need to add */

.filter-section {
  margin-bottom: 20px;
}

.filter-dropdowns {
  display: flex;
  flex-wrap: wrap;
}

.filter-dropdown {
  margin-right: 20px;
}

.filter-dropdown label {
  display: block;
  margin-bottom: 5px;
}

.filter-dropdown select {
  width: 150px;
  /* Adjust as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

}

/* Style the filter section */
.filter-section {
  margin-top: 20px;
}

/* Style the filter dropdowns */
.filter-dropdown {
  margin-bottom: 10px;
}

/* Style the dropdown button */
.dropbtn {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  color: var(--button-color);
  height: 30px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the dropdown options */
.dropdown-content div {
  padding: 0px 10px;
  cursor: pointer;
}

/* Show the dropdown content when the dropdown button is clicked */
.filter-dropdown:hover .dropdown-content {
  display: block;
  width: 100%;
  z-index: 9999;
}

/* Style the checkbox input */
.dropdown-content input[type="checkbox"] {
  margin-right: 5px;
}

/* Style the checkbox label */
.dropdown-content label {
  cursor: pointer;
}
/* End of CSS table */

/* Prachi ChatSection 28/06 line no 235 to 244 */

.attendanceTableData1::-webkit-scrollbar {
  display: none;
}

.attendanceTableData1 {
  height: 85vh;
  width: 95%;

  margin-right: 2px;
}

/*End Prachi ChatSection 28/06 line no 235 to 244 */








/* Overall container */
.AppsTL {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

/* Selection container */
.selection-containerTL {
  display: flex;
  /* justify-content: space-around; */
  width: 41%;
  flex-direction: column;
  margin-bottom: 20px;
}


.assignments-tableTL {
  width: 100%;
}

/* Dropdown container */
.custom-dropdownTL {
  position: relative;
  width: 100%;
  /* Prachi TeamLeader 1/7 */
  margin-right: 20px;

}

.dropdown-headerTL {
  background-color: white;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 18px;

}

/* Prachi parab TeamLeader 1/7 */
.assignOptionBtnCss {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-left: 13%;
    margin-right: 13%; */

}

.dropdown-bodyTL {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.search-inputTL {
  width: calc(100% - 20px);
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
}

.select-all-buttonTL {
  
  background-color: var(--button-color);
  color: #fff;
  border: 1px solid gray;
  border-radius: 15px;
  height: 30px;
  padding: 0px 10px 0px 10px;

  /* padding: 5px 10px; */
  /* margin-bottom: 10px; */
  cursor: pointer;
}

.team-leadersTL {
  /* max-height: 200px; */
  overflow-y: auto;
}

.team-leaderTL {
  margin-bottom: 10px;
}

.team-leaderTL label {
  /* display: block; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 5px;
}

.recruitersTL {
  margin-left: 20px;
}

.recruitersTL label {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 5px;
}

/* Options section */
.options-section {
  width: 100%;

  margin-top: 20px;
  flex-direction: column;
  margin-top: 30px;
}

.options-listTL {
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  margin-bottom: 20px;
  flex-direction: column;
  gap: 20px;
}

.options-category {
  display: flex;
  flex-direction: row;
  /* margin-right: 10px; */
  text-align: center;
  border: 1px solid gray;
  border-radius: 15px;
}

.options-category.common-assign {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 5px;
  /* Prachi TeamLeader 1/7 */
  cursor: pointer;
  background-color: var(--Bg-color);
  color: gray;
  border: 1px solid gray;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  max-height: 70vh;
  overflow-y: auto;
  text-transform: capitalize;

  /* height: 30px;
    */
}

.options-category::-webkit-scrollbar {
  width: 0px;
}

.options-category.important-assign {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  color: gray;
  background-color: var(--Bg-color);
  text-align: center;
  font-size: 18px;
  max-height: 70vh;
  overflow-y: auto;
  text-transform: capitalize;


}

.options-category.most-important-assign {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  color: gray;
  background-color: var(--Bg-color);
  text-align: center;
  font-size: 18px;
  max-height: 70vh;
  overflow-y: auto;
  text-transform: capitalize;

}

.category-header {
  background-color: var(--Bg-color);
  color: white;
  text-align: center;
  position: sticky;
  top: -5px;
}

/* Prachi ChatSection 28/06 line no 431 to 449 */
.checkbox-teamleader-assign input[type="checkbox" i] {
  height: 15px;
  width: 15px;
  margin-right: 22px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.radio-teamleader-assign input[type="radio" i] {
  height: 15px;
  width: 15px;
  margin-right: 9px;


}

.form-check-input {
  height: 30px;
  width: 30px;
}

/*End Prachi ChatSection 28/06 line no 431 to 449 */

.option-itemTL {
  margin-bottom: 5px;
  display: flex;
}

.option-dropdown {
  width: 100%;
  height: 150px;
  border: 1px solid gray;
}

.assignoptionbtn {
  display: flex;
  align-items: center;
  background-color: var(--button-color);
  color: white;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 16px;
  padding: 10px;
  border-radius: 15px;
  height: 30px;
  /* width: 100%; */
  /* margin-top: 10px; */

}

.hierarchy-sectionTL {
  height: 30px;
  color: #ffcb9b;

}

.assignoptionbtn:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
}

/* Assignments table */


.all_assignbtn,
.remove_assignbtn {

  background-color: var(--button-color);
  color: white;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 16px;
  border-radius: 15px;
  height: 30px;
  /* width: 100px; */

}

.all_assignbtn:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
}

/* Prachi ChatSection 28/06 line no 521 to 548 */

.all_assignbtn1 {

  background-color: var(--button-color);
  color: white;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 18px;
  border-radius: 15px;
  height: auto;
  width: 100%;

}

.all_assignbtn1:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
  padding: 10px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 15px;
}

.all_assignbtn-Action {

  background-color: var(--button-color);
  color: white;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 16px;
  border-radius: 15px;
  height: 30px;
  width: auto;
  /* width: 100%; */
  margin: 2px;
  padding: 0px 12px 0px 0px;

}

.all_assignbtn-Action:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
  /* padding: 10px 10px; */
  cursor: pointer;
  /* padding-bottom: 10px; */
  border-radius: 15px;

}

/*End Prachi TeamLeader line no 622 to 675 */
/* Dropdown icon */
.dropdown-icon {
  display: flex;
  font-size: 16px;
  color: white;
  flex-direction: column;
  float: right;
  margin-right: 10px;

}

.dropdown-icon_open {
  display: flex;
  font-size: 16px;
  color: var(--button-color);
  flex-direction: column;
  float: right;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}



.TLR-buttons-div {
  display: flex;
  justify-content: end;
  gap: 5px;
  /* padding: 10px; */
}

.ok-button,
.reset-selectTL-button,
.update-assign-column-btn,
.update-assign-column-close-btn {
  font-size: 16px;
  border-radius: 15px;
  height: 30px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  background: var(--button-color);
  border: 1px solid gray;
  cursor: pointer;
  margin-bottom: 10px;
}

.ok-button:hover,
.reset-selectTL-button:hover,
.update-assign-column-btn:hover,
.update-assign-column-close-btn:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
  border: #f2f2f2;
  border: 1px solid gray;
}

.category-share-btn {
  font-size: 16px;
  border-radius: 15px;
  height: 30px;
  margin: 5px;
  color: var(--button-color);
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
}

.category-share-btn:hover {
  background-color: var(--button-hover-color);
  color: var(--text-hover-color);
}

.response-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  padding: 10px;
}

.commonAssinedColumnSec,
.mostImportantAssignedColumnSec,
.importantAssignedColumnSec {
  background-color: var(--Bg-color);
  border-radius: 15px;
  padding: 10px;
}

.commonAssignedColumn,
.mostImportantAssignedColumn,
.importantAssignedColumn {
  margin: 10px;
  gap: 2px;
  display: flex;
  flex-direction: column;
}

.assignedColumnRecruiter {
  background-color: var(--Bg-color);
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}