/* SwapnilRokade_UpdateResponsePage_05/07 */
/* SwapnilRokade_UpdateResponseForm_designFilterSection to _09/07 */

.TeamLead-main {
  width: 100%;
}

.TeamLead-main-filter-section {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TeamLead-main-filter-section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TeamLead-main-filter-section-container {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TeamLead-main-table-section {
  width: 100%;
  padding: 5px 0px;
  overflow-x: scroll;
}

.TeamLead-main-table {
  border: 1px solid gray;
}

.TeamLead-main-table-tr {
  height: 30px;
  border: 1px solid gray;

}

.TeamLead-main-table-th {
  width: auto;
  height: 30px;
  border: 1px solid gray;
  white-space: nowrap;
  background-color: #ffcb9b;
  color: gray;
  padding: 2px;
  text-align: center;
}

.TeamLead-main-table-td {
  height: 30px;
  border: 1px solid gray;
  color: gray;
  white-space: nowrap;
  padding: 2px;
  text-align: center;
}

/* UpdateResponse.css */
.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-dropdown {
  padding: 5px;
  font-size: 16px;
}

.filter-input {
  padding: 5px;
  font-size: 16px;
  width: 200px;
}

.TeamLead-main-table-button {
  border: 1px solid gray;
  font-size: 15px;
  border-radius: 15px;
  padding: 0px 8px 0px 8px;
  background-color: #ffcb9b;
  color: white;
}

.updateResponse-table-div {
  width: 100%;
}

.res-filter-option {
  position: relative;
  display: inline-block;
}

.res-city-filter {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.res-filter-option:hover .res-city-filter {
  display: block;
}

.optionDiv {
  padding: 10px;
}